for component, name in public.docs._data
  article
    h1= name
    if component.desc.length > 0
      p= component.desc
    if Object.keys(component.props).length > 0
      h2= "Props"
      table
        thead
          tr
            th= "Name"
            th= "Type"
            th= "Value"
            th= "Default Value"
            th= "Required"
        tbody
          for prop, name in component.props
            tr
              td= name
              if prop.type && prop.type.name
                td= prop.type.name 
                if prop.type.value
                  if prop.type.value.name
                    td= prop.type.value.name
                  else
                    td
                      ul
                        for val in prop.type.value
                          li= val
                else
                  td= "N/A"
                if prop.defaultValue
                  td= prop.defaultValue
                else
                  td= "N/A"
                if prop.required
                  td= "True"
                else
                  td= "False"
    hr
